.missions {
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 20px;
  box-shadow: 0 0 0.2em white;
  display: grid;
  grid-template-columns: repeat(4, minmax(100px, 1fr));
}

.text {
  color: aliceblue;
  text-align: center;
}

.MissionsCard {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 20px;
  box-shadow: 0 0 0.5em white;
  font-family: Franklin Gothic Medium , Arial Narrow , Arial , sans-serif;
  font-size: 1em;
  margin: 25px;
}

.MissionName {
  color: antiquewhite;
  font-family: monospace;
  font-size: 1.4em;
  font-weight: 800;
}
