.components img {
  width: 100px;
}


.components:nth-child( 5 ) img {
  width: 250px;
}

.components:nth-child( 6 ) img {
  width: 250px;
}

.components {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 200px;
  justify-content: center;
  margin: 20px;
  transition: transform 0.5s ease;
}

.components:hover {
  transform: scale(1.3);
}

.components p {
  color: aliceblue;
  font-family: Franklin Gothic Medium , Arial Narrow , Arial , sans-serif;
  font-size: 1.3em;
}

body {
  background-image: url('../images/universe.jpg');
  background-position: right 800%;
  background-size: cover;
}
